body{
    display: flex;
    margin: 0%;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background:url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size:cover;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: aliceblue;
    
}
.clock{
    display: flex;
    height: 100px;
    
}
.clock div{

    margin: 5px;
    position: relative;
    
}
.clock span{
    width: 100px;
    height: 80px;
    background-color:cadetblue;
    color: white;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    text-shadow: 2px 2px 4px black;
}
.clock .text{
    height: 30px;
    font-size: 10px;
    opacity: .8;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: lightseagreen;

}
#ampm{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color:green;
}